# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
# /dist
/tmp
/out-tsc

# dependencies
/node_modules
/package-lock.json

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings

# System Files
.DS_Store
Thumbs.db

#others
manga/NEW/crawler/node_modules/
manga/m/node_modules
manga/NEW/crawler/src/uploads

manga/NEW/crawler/src/ad
manga/NEW/crawler/src/akaikoi_no_territory
manga/NEW/crawler/src/akunaki_jounetsu
manga/NEW/crawler/src/beasty_boys
manga/NEW/crawler/src/come_on_spring
manga/NEW/crawler/src/cutlass_ii
manga/NEW/crawler/src/dramatical_murder
manga/NEW/crawler/src/dream_story
manga/NEW/crawler/src/fall_in_love_morinaga_milk
manga/NEW/crawler/src/fate_zero_dj_joy_of_the_king
manga/NEW/crawler/src/figure_17
manga/NEW/crawler/src/frontier_generation
manga/NEW/crawler/src/gaman_dekinai
manga/NEW/crawler/src/get-list-daily.js
manga/NEW/crawler/src/ginger_honey
manga/NEW/crawler/src/gravitation_dj
manga/NEW/crawler/src/gt2002_ii
manga/NEW/crawler/src/hair_tail_fish_and_mackerel
manga/NEW/crawler/src/hen_suzuki_satou
manga/NEW/crawler/src/imouto_ga_americajin
manga/NEW/crawler/src/jewel_and_canary
manga/NEW/crawler/src/jojo_s_bizarre_adventure_part_1_phantom_blood
manga/NEW/crawler/src/json/list_daily.json
manga/NEW/crawler/src/kabe_no_naka_no_tenshi_bikke
manga/NEW/crawler/src/keep_on_vibrating
manga/NEW/crawler/src/koi_no_kaori_takemiya_jin
manga/NEW/crawler/src/le_gardenia
manga/NEW/crawler/src/maeri_neun_wehbakjoong
manga/NEW/crawler/src/mahou_shoujo_madoka_magica_dj_watashi_no_saikou_no_oyome_san
manga/NEW/crawler/src/man_i_ll_always_hate
manga/NEW/crawler/src/melting
manga/NEW/crawler/src/mr_secret_floor_shousetsuka_no_tawamure_na_hibiki
manga/NEW/crawler/src/my_summer_memory
manga/NEW/crawler/src/nanairo_no_shinwa
manga/NEW/crawler/src/naru_kiss
manga/NEW/crawler/src/neringu_project
manga/NEW/crawler/src/odoru_kremlin_kyuuden
manga/NEW/crawler/src/oikakete_mo_chikazukuite_mo
manga/NEW/crawler/src/one_plus_one
manga/NEW/crawler/src/one_shot
manga/NEW/crawler/src/ore_no_imouto_ga_konna_ni_kawaii_wake_ga_nai_dj_brocon_imouto_ga_tada_hitasura_ani_to_ichaicha_shitai_hon
manga/NEW/crawler/src/otonage_karikawa_seyu
manga/NEW/crawler/src/pokemon_ranger_batonnage
manga/NEW/crawler/src/prologue
manga/NEW/crawler/src/ragnarok-into-the-abyss
manga/NEW/crawler/src/ragouden
manga/NEW/crawler/src/rockman
manga/NEW/crawler/src/saki_dj_dakara_ima_wa_atatakana_te_o
manga/NEW/crawler/src/saki_dj_toteki_toteki_toteki_kawaii
manga/NEW/crawler/src/sam_the_3000_bath
manga/NEW/crawler/src/sheikh_no_izanau_yoru_ni
manga/NEW/crawler/src/sheikh_to_dokomade_mo
manga/NEW/crawler/src/shi_to_kanojo_to_boku
manga/NEW/crawler/src/sora_ni_saitara
manga/NEW/crawler/src/tear_potion
manga/NEW/crawler/src/testify
manga/NEW/crawler/src/that_sensation
manga/NEW/crawler/src/the_idolm_ster_dj_wonderful_lesson
manga/NEW/crawler/src/the_loyal_dog_s_distress
manga/NEW/crawler/src/the_mystery_of_the_yuri_cage
manga/NEW/crawler/src/the_wanderers_trilogy
manga/NEW/crawler/src/toricon_triple_complex
manga/NEW/crawler/src/toto
manga/NEW/crawler/src/touhou_project_dj_little_sweet_smiles
manga/NEW/crawler/src/tsuioku
manga/NEW/crawler/src/urbane
manga/NEW/crawler/src/violence_jack_jigoku_machihen
manga/NEW/crawler/src/watatsu_umi_no_juunin
manga/NEW/crawler/src/when_the_bell_rings
manga/NEW/crawler/src/white-garden
manga/NEW/crawler/src/window
manga/NEW/crawler/src/witch_chi_ran
manga/NEW/crawler/src/wreckage_x
manga/NEW/crawler/src/yabai_kimochi