p {
  margin: 0;
  padding: 0;
}
.breadcrumb {
  background-color: transparent;
  font-size: 12px;
}
.items > div > a {
  position: relative;
  display: block;
  padding: 8px;
  border: 1px solid #fff;
  text-decoration: none;
}
.items > div > a:hover {
  border: 1px solid rgb(223, 223, 223);
}
.items > div > a img {
  width: 100%;
}
.items .new {
  position: absolute;
  width: 99px;
  height: 55px;
  background: url(/img/newFlag-02112015.png) no-repeat;
}
.items .brand {
  padding: 2px 0;
  font-size: 16px;
  color: #000;
  border-bottom: 1px solid rgb(223, 223, 223);
}
.items .title {
  padding: 2px 0;
  font-size: 12px;
  color: rgb(128, 128, 128);
}
.items .price {
  margin: 5px 0 10px;
  text-align: right;
}
.items .sizes {
  margin: 0;
  padding: 2px;
  list-style: none;
  overflow: hidden;
  background: rgb(245, 244, 244);
}
.items .sizes li {
  float: left;
  min-width: 30px;
  margin: 0 3px;
  padding: 0;
  text-align: center;
  font-size: 12px;
  color: #000;
}
.sort-by {
  text-align: right;
}
.sort-by span {
  margin-right: 5px;
  font-size: 14px;
  font-weight: bold;
}
.sort-by select {
  min-width: 150px;
  padding: 5px;
  font-size: 12px;
}
.item-count {
  padding: 0.75rem 1rem;
  font-size: 12px;
}
.category {
  margin: 0;
  padding: 0;
  list-style: none;
}
.category li {
  padding-left: 10px;
}
.category li a {
  font-size: 13px;
}
.filter-by {
  margin-top: 1rem;
  border: 1px solid rgb(223, 223, 223);
}
.filter-wrap {
  padding: 0.75rem 0.75rem 0.5rem;
}
.filter-by h3,
.filter-by h4 {
  font-size: 14px;
}
.filter-by .clear {
  display: block;
  font-size: 12px;
  text-decoration: none;
  border: 1px solid rgb(223, 223, 223);
  color: #000;
  text-align: center;
}
.filter-by .clear:hover {
  border: 1px solid #000;
}
.filter-by .brt {
  border-top: 1px solid rgb(223, 223, 223);
}
.filter-by ul.sizes {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
}
.filter-by ul.sizes li {
  float: left;
  width: 30px;
  margin: 0 2px;
}
.filter-by .label {
  float: left;
  display: block;
  position: relative;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.filter-by .label span {
  display: inline-block;
  height: 30px;
  width: 30px;
  min-width: 30px;
  font-size: 12px;
  text-align: center;
  padding: 6px 9px;
}
.filter-by .label input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}
.filter-by .checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 30px;
  width: 30px;
  border: 1px solid #ccc;
}
.filter-by .label input:checked ~ .checkmark {
  border: 1px solid #000;
}
