<html>

<head>
	<title>VueJS</title>
	<link href="common/css/reset.css" rel="stylesheet" />
	<link href="common/css/style.css" rel="stylesheet" />
	<link href="common/css/media.css" rel="stylesheet" />
	
	<link rel="stylesheet" href="libs/tinymace/prism.css">
	
	<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
</head>

<body>
<div class="content" id="top">
<!--Write your content here-->
<h1>VueJS Basic</h1>

<h2>Set Up</h2>
<div class="divBlock">
	<p>Add to your head HTML:</p>
	<pre><code class="language-javascript">< script src="https://unpkg.com/vue@2.0.5/dist/vue.js"></script></code></pre>
	<p>or download and import locally (https://vuejs.org/v2/guide/installation.html)</p>
</div>

	
<h2>Data Rendering</h2>
<div class="divBlock">
	<pre><code class="language-html">&lt;div id="app">
	&lt;p>{{ title }}&lt;/p>
&lt;/div></code></pre>
	<pre><code class="language-javascript">new Vue({
	el: '#app',
	data: {
		title: 'Hello Wordl!'
	}
});</code></pre>
</div>

<h2>Call Data Inside Function</h2>
<div class="divBlock">
	<pre><code class="language-html">&lt;div id="app">
	&lt;input type="text" v-on:input="changeTitle">
	&lt;p>{{ sayHello() }}&lt;/p>
&lt;/div></code></pre>
	<pre><code class="language-javascript">new Vue({
	el: '#app',
	data: {
		title: 'Hello World!'
	},
	methods:  {
		sayHello: function(){
			return 'Say,' + this.title;
		}
	}
});</code></pre>
</div>

<h2>Directives</h2>
<div class="divBlock">
	<h3>Binding Attribue</h3>
	<div class="divBlock">
		<p>you should use v-bind tag to avoid data hash</p>
		<pre><code class="language-html">&lt;div id="app">
	&lt;p>Link - &lt;a v-bind:href="link">Google&lt;/a>&lt;/p>
&lt;/div></code></pre>
		<pre><code class="language-javascript">new Vue({
	el: '#app',
	data: {
		link: 'http://google.com'
	}
});</code></pre>
	</div>

	<h3>Render Once</h3>
	<div class="divBlock">
		<p>using this means that variable from data will render once, even if you change the value of variable, nothing will rerender in page.</p>
		<pre><code class="language-html">&lt;p v-once>{{ title }}&lt;/p></code></pre>
	</div>

	<h3>Output Raw of Code</h3>
	<div class="divBlock">
		<p>data variable normaly output string, if you want to output as an html element</p>
		<pre><code class="language-html">&lt;p v-html="htmlLink">&lt;/p></code></pre>
		<pre><code class="language-javascript">new Vue({
	el: '#app',
	data: {
		link: '<a href="http://google.com">google</a>'
	}
});</code></pre>
	</div>

	<h3>Mouse Events</h3>
	<div class="divBlock">

		<h4>Click Event</h4>
		<div class="divBlock">
			<pre><code class="language-html">&lt;div id="app">
	&lt;button v-on:click="increase">Increase&lt;/button>
	&lt;p>{{ counter }}&lt;/p>
&lt;/div></code></pre>
			<pre><code class="language-javascript">new Vue({
	el: '#app',
	data: {
		counter: 0
	},
	methods: {
			increase: function(){
				this.counter++;
			}
	}
});</code></pre>
		</div>

		<h4>Mousemove Event</h4>
		<div class="divBlock">
			<pre><code class="language-html">&lt;div id="app">
	&lt;p v-on:mousemove="updateCoordinates">Coordinates: {{ x }}/{{ y }}&lt;/p>
&lt;/div></code></pre>
			<pre><code class="language-javascript">new Vue({
	el: '#app',
	data: {
		x: 0,
		y: 0,
	},
	methods: {
			updateCoordinates: function(event){
				this.x = event.clientX;
				this.y = event.clientY;
			}
	}
});</code></pre>
		</div>

		<h4>Mousemove Event with Modified Event in Child</h4>
		<div class="divBlock">
			<p>This means that child element with not affected by the mouse move event.</p>
			<pre><code class="language-html">&lt;div id="app">
	&lt;p v-on:mousemove="updateCoordinates">Coordinates: {{ x }}/{{ y }} &lt;span v-on:mousemove.stop="">Stop Event&lt;span/>&lt;/p>
&lt;/div></code></pre>
		</div>
	
	</div>


	<h3>Input Binding</h3>
	<div class="divBlock">
		<p>Ref in react, ng-model in angular</p>
		<pre><code class="language-html">&lt;div id="app">
	&lt;input type="text" v-model="name">
	&lt;p>{{ name }}&lt;/p>
&lt;/div></code></pre>
		<pre><code class="language-javascript">new Vue({
	el: '#app',
	data: {
		name: ''
	}
});</code></pre>
	</div>

</div>

<h2>Properties</h2>
<div class="divBlock">
	<h3>Computed Properties Vs Methods Properties</h3>
	<div class="divBlock">
		<p><b>If you declared a rendering function in the page:</b></p>
		<p>Computed will execute the function only if value of related data variable whithin that function is changed.</p>
		<p>Method will always run every time data variable are changed. (Disadvantage if your functions code is too long script which is executed but not related on changes, it only interupt the speed performance of app)</p>
		<hr>
		<p><b>Calling function:</b></p>
		<p>Computed called without parenthesis</p>
		<p>Method called with parenthesis</p>

		<pre><code class="language-html">&lt;div id="app">
		&lt;button v-on:click="counter1++">Increase&lt;/button>
		&lt;button v-on:click="counter1--">Decrease&lt;/button>
		&lt;button v-on:click="counter2++">Increase Counter 2&lt;/button>
		&lt;p>Counter 1: {{ counter1 }}&lt;/p>
		&lt;p>Counter 2: {{ counter2 }}&lt;/p>
		&lt;p>Result: {{ renderFlag }} | {{ renderCounter() }}&lt;/p>
	&lt;/div></code></pre>
		<pre><code class="language-javascript">new Vue({
	el: '#app',
	data: {
			counter1: 0,
			counter2: 0,
			flag: ''
	},
	computed: {
			renderFlag: function(){
				console.log('Computed Triggered'); // will not triggere if you click the Increase Counter 2 button
				return this.counter1 > 5 ? 'Greater than 5' : 'Less than 5';
			}
	},
	methods: {
			renderCounter: function(){
				console.log('Method Triggered');
				return this.counter1;
			}
	}
});</code></pre>
	</div>

	<h3>Watch Properties</h3>
	<div class="divBlock">
		<p>Will be executed when a specific data variable is changed.</p>
		<pre><code class="language-javascript">new Vue({
	el: '#app',
	data: {
		counter: 0,
	},
	watch: {
		counter: function(){
			console.log('Watch Triggered');
		}
	},
});</code></pre>
	</div>
</div>

<h2>Short Hands</h2>
<div class="divBlock">
	<div class="flex">
		<pre><code class="language-html">&lt;button v-on:click="changeLink">Click to Change&lt;/button></code></pre>
		<pre><code class="language-html">&lt;button @click="changeLink">Click to Change&lt;/button></code></pre>
	</div>
	<div class="flex">
		<pre><code class="language-html">&lt;a v-bind:href="link">Link&lt;/button></code></pre>
		<pre><code class="language-html">&lt;a :href="link">Link&lt;/button></code></pre>
	</div>
</div>

<h2>Dynamic Styling with CSS Classes</h2>
<div class="divBlock">
	<h3>Basic / Active & Innactive</h3>
	<div class="divBlock">
		<p>A box that when you click, it change it state to active and inactive.</p>
		<pre><code class="language-css">.box {
	width: 100px;
	height: 100px;
	margin: 10px;
	background-color: gray;
}
.red {
	background-color: red;
}</code></pre>
		<pre><code class="language-html">&lt;div id="app">
	&lt;div
		class="box"
		@click="active = !active"
		:class="{'red': active}"
	>&lt;/div>
&lt;/div></code></pre>
		<pre><code class="language-javascript">new Vue({
	el: '#app',
	data: {
			active: false
	},
});</code></pre>
	</div>

	<h3>Multiple Class as Object</h3>
	<div class="divBlock">
		<pre><code class="language-css">.box {
	width: 100px;
	height: 100px;
	margin: 10px;
	background-color: gray;
}
.red {
	background-color: red;
}
.red-border {
	border: 5px solid pink;
}</code></pre>
		<pre><code class="language-html">&lt;div id="app">
	&lt;div
		class="box"
		@click="active = !active"
		:class="{'red': active, 'red-border': active}"
	>&lt;/div>
&lt;/div></code></pre>
	</div>

	<h3>Variable as Class Names</h3>
	<div class="divBlock">
		<pre><code class="language-css">.box {
	width: 100px;
	height: 100px;
	margin: 10px;
	background-color: gray;
}
.pending {
	background-color: red;
}
.cancelled {
	background-color: orange;
}
.done {
	background-color: green;
}</code></pre>
		<pre><code class="language-html">&lt;div id="app">
	&lt;button @click="status = 'pending'" :disabled="status == 'pending'">Pending&lt;/button>
	&lt;button @click="status = 'cancelled'" :disabled="status == 'cancelled'">Cancel&lt;/button>
	&lt;button @click="status = 'done'" :disabled="status == 'done'">Done&lt;/button>
	&lt;div
		class="box"
		:class="status"
	>&lt;/div>
&lt;/div></code></pre>
		<pre><code class="language-javascript">new Vue({
	el: '#app',
	data: {
			status: ''
	},
});</code></pre>
	<div class="imgBlock"><img src="./images/1.png"></div>
	</div>
</div>

<h2>Conditional</h2>
<div class="divBlock">
	<h3>v-if</h3>
	<div class="divBlock">
		<pre><code class="language-html">&lt;div id="app">
&lt;div v-if="type === 'A'">
	A
&lt;/div>
&lt;div v-else-if="type === 'B'">
	B
&lt;/div>
&lt;div v-else-if="type === 'C'">
	C
&lt;/div>
&lt;div v-else>
	Not A/B/C
&lt;/div>
&lt;/div></code></pre>
	</div>

	<h3>v-if in Template</h3>
	<div class="divBlock">
		<p>&lt;template> tag will not show in DOM but can use for conditional</p>
		<pre><code class="language-html">&lt;div id="app">
	&lt;template v-if="active">
		&lt;p>Active&lt;/p>
	&lt;/template>
&lt;/div></code></pre>
	</div>

	<h3>v-show</h3>
	<div class="divBlock">
		<p>v-show will not detach the element instead will add style of display none</p>
		<pre><code class="language-html">&lt;div id="app">
	&lt;template v-show="active">
		&lt;p>Active&lt;/p>
	&lt;/template>
&lt;/div></code></pre>
	</div>
</div>

<h2>Rendering List / For Loop</h2>
<div class="divBlock">
	<p>Let's assume that you have this arrays.</p>
	<pre><code class="language-javascript">new Vue({
	el: '#app',
	data: {
			ingredients: ['meat','fruit', 'cookies'],
			persons: [
				{ name: 'Max', age: 27, color: 'red' },
				{ name: 'Anna', age: 'unknown', color: 'blue' }
			]
	},
});</code></pre>

	<h3>Simple for loop</h3>
	<div class="divBlock">
		<pre><code class="language-html">&lt;div id="app">
	>&lt;ul>
		>&lt;li v-for="ingredient in ingredients" :key="ingredient">{{ ingredient }}>&lt;/li>
	>&lt;/ul>
>&lt;/div></code></pre>
	</div>

	<h3>Loop with index</h3>
	<div class="divBlock">
		<pre><code class="language-html">&lt;div id="app">
	&lt;ul>
		&lt;li v-for="(ingredient, index) in ingredients" :key="index">{{ index }}. {{ ingredient }}&lt;/li>
	&lt;/ul>
&lt;/div></code></pre>
	</div>

	<h3>Loop with array of object</h3>
	<div class="divBlock">
		<pre><code class="language-html">&lt;div id="app">
	&lt;ul>
		&lt;li v-for="person in persons" :key="person.name">{{ person.name }}&lt;/li>
	&lt;/ul>
&lt;/div></code></pre>
	</div>

	<h3>Loop of objects of array loop</h3>
	<div class="divBlock">
		<p>will also loop the keys</p>
		<pre><code class="language-html">&lt;div id="app">
	&lt;ul>
		&lt;li v-for="person in persons" :key="person.name">
			&lt;p v-for="(value, key, index) in person" :key="index">{{ index }}.) {{ key }}: {{ value }}&lt;/p>
		&lt;/li>
	&lt;/ul>
&lt;/div></code></pre>
	</div>

</div>

<h2>Instance</h2>
<div class="divBlock">
	<h3>Multiple Instance with accessing outside</h3>
	<div class="divBlock">
<pre><code class="language-html">&lt;div id="app1">
	&lt;p>{{ title }}&lt;/p>
	&lt;button @click="handleClick">Change First Instance Value&lt;/button>
&lt;/div>

&lt;hr />

&lt;div id="app2">
	&lt;p>{{ title }}&lt;/p>
	&lt;button @click="handleClick">Change First Instance Value using Second Instance&lt;/button>
&lt;/div></code></pre>
		<pre><code class="language-javascript">var vm1 = new Vue({
	el: '#app1',
	data: {
			title: 'First Instance'
	},
	methods: {
			handleClick: function(){
				this.title = "Changed First Instance";
			}
	},
});

var vm2 = new Vue({
	el: '#app2',
	data: {
			title: 'Second Instance'
	},
	methods: {
			handleClick: function(){
				vm1.title = "Changed First Instance to Second Instance";
			}
	},
});</code></pre>
	</div>

	<h3>Refs</h3>
	<div class="divBlock">
		<p>Ref is the name identifier to use javascript selector and get the object element</p>
		<pre><code class="language-html">&lt;div id="app">
	&lt;p ref="refTitle">This is element&lt;/p>
	&lt;button @click="handleClick">Button&lt;/button>
&lt;/div></code></pre>
		<pre><code class="language-javascript">new Vue({
	el: '#app',
	methods: {
			handleClick: function(){
				console.log(this.$refs, this.$refs.refTitle);
				this.$refs.refTitle.innerText = "Test";
			}
	},
});</code></pre>
	</div>

	<h3>Mount</h3>
	<div class="divBlock">
		<h4>Mount</h4>
		<p>Use this if the element in the page is not yet exist, and you want to mount the vuejs instance when the element is exist.</p>
		<pre><code class="language-html">&lt;div id="app">
	&lt;p>{{ title }}&lt;/p>
	&lt;button @click="handleClick">Button&lt;/button>
&lt;/div></code></pre>
		<pre><code class="language-javascript">var vm = new Vue({
	data: {
			title: 'Test title'
	},
	methods: {
			handleClick: function(){
				alert(1);
			}
	},
});

vm.$mount('#app');</code></pre>
	</div>
	<div class="divBlock">
		<h4>Mount as html template</h4>
		<pre><code class="language-html">&lt;div id="app">
        
&lt;/div></code></pre>
		<pre><code class="language-javascript">var vm = new Vue({
	template: '<h1>Hello World!</h1>'
});

vm.$mount('#app');</code></pre>
	</div>


	<h3>Components</h3>
	<div class="divBlock">
		<h4>Sample Basic</h4>
		<pre><code class="language-html">&lt;div id="app">
	&lt;p>{{ title }}&lt;/p>
	&lt;hello>&lt;/hello>
	&lt;hello>&lt;/hello>
&lt;/div></code></pre>
		<pre><code class="language-javascript">Vue.component('hello', {
	template: '<h1>Hello</h1>'
});

new Vue({
	el: '#app',
	data: {
			title: 'test'
	}
})</code></pre>
	</div>

	<h3>Lifecycle Method</h3>
	<div class="divBlock">
		<ul class="list">
			<li>beforeCreate()</li>
			<li>created()</li>
			<li>beforeMount()</li>
			<li>beforeUpdate()</li>
			<li>updated()</li>
			<li>beforeDestroy()</li>
			<li>destroy()</li>
		</ul>
		<pre><code class="language-html">&lt;div id="app">
	&lt;p>{{ title }}&lt;/p>
	&lt;button @click="handleUpdate">Change Title&lt;/button>
	&lt;button @click="handleDestroy">Destroy&lt;/button>
&lt;/div></code></pre>
		<pre><code class="language-javascript">new Vue({
	el: '#app',
	data: {
			title: 'test'
	},
	methods: {
			handleUpdate: function(){
				this.title = "changed title";
			},
			handleDestroy: function(){
				this.$destroy();
			}
	},
	beforeCreate: function(){
			console.log('beforeCreate')
	},
	created: function(){
			console.log('created')
	},
	beforeMount: function(){
			console.log('beforeMount')
	},
	beforeUpdate: function(){
			console.log('beforeUpdate')
	},
	updated: function(){
			console.log('updated')
	},
	beforeDestroy: function(){
			console.log('beforeDestroy')
	},
	destroy: function(){
			console.log('destroy')
	}
})</code></pre>
	</div>
</div>

<h1>VueJS Advance</h1>

<h2>Installation</h2>
<div class="divBlock">
	<pre><code class="language-html">npm install -g vue-cli
vue init webpack-simple project-name
cd project-name
npm install</code></pre>
	<pre><code class="language-html">npm run dev</code></pre>
	<pre><code class="language-html">npm run build</code></pre>
</div>

<h2>Components</h2>
<div class="divBlock">
	<h3>Component Globally</h3>
	<div class="divBlock">
		<p>Component can be called in anywhere of the page</p>
		<pre><code class="language-html">&lt;div id="app">
	&lt;my-cmp>&lt;/my-cmp>
	&lt;hr>
	&lt;my-cmp>&lt;/my-cmp>
&lt;/div>
&lt;div id="app2">
	&lt;my-cmp>&lt;/my-cmp>
&lt;/div></code></pre>
		<pre><code class="language-javascript">Vue.component('my-cmp', {
	data: function(){
			return {
				status: 'loaded'
			}
	},
	template: '<p>Status: {{ status }}</p>'
});

new Vue({
	el: '#app',
});

new Vue({
	el: '#app2',
});</code></pre>
	</div>

	<h3>Component Locally</h3>
	<div class="divBlock">
		<p>Component can only be called in parent</p>
		<pre><code class="language-html">&lt;div id="app">
	&lt;my-cmp>&lt;/my-cmp>
	&lt;hr>
	&lt;my-cmp>&lt;/my-cmp>
&lt;/div>
&lt;div id="app2">

&lt;/div></code></pre>
		<pre><code class="language-javascript">var cmp = {
	data: function(){
			return {
				status: 'loaded'
			}
	},
	template: '<p>Status: {{ status }}</p>'
}

new Vue({
	el: '#app',
	components: {
			'my-cmp': cmp
	}
});

new Vue({
	el: '#app2',
});</code></pre>

	</div>

	<h3>Creating Component</h3>
	<div class="divBlock">
		<p>Home.vue</p>
		<pre><code class="language-html">&lt;template>
	&lt;div>
		&lt;p>Status: {{ status }}&lt;/p>
		&lt;button @click="changeStatus">Change Status&lt;/button>
	&lt;/div>
&lt;/template>

&lt;script>
	export default {
		data: function(){
			return {
				status: 'loaded'
			}
		},
		methods: {
			changeStatus(){
				this.status = 'changed';
			}
		}
	}
&lt;/script></code></pre>

		<p>App.vue</p>
		<pre><code class="language-html">&lt;template>
	&lt;Home>&lt;/Home>
&lt;/template>

&lt;script>
&lt;/script>

&lt;style lang="scss">
&lt;/style></code></pre>

		<p>Main.js</p>
		<pre><code class="language-javascript">import Vue from 'vue'
import App from './App.vue'
import Home from './Home.vue'

Vue.component('Home', Home);

new Vue({
	el: '#app',
	render: h => h(App)
})</code></pre>
	</div>

</div>

<h2></h2>
<div class="divBlock">
	<pre><code class="language-html"></code></pre>
	<pre><code class="language-javascript"></code></pre>
</div>

<h2></h2>
<div class="divBlock">
	<pre><code class="language-html"></code></pre>
	<pre><code class="language-javascript"></code></pre>
</div>

<h2></h2>
<div class="divBlock">
	<pre><code class="language-html"></code></pre>
	<pre><code class="language-javascript"></code></pre>
</div>

<h2></h2>
<div class="divBlock">
	<pre><code class="language-html"></code></pre>
	<pre><code class="language-javascript"></code></pre>
</div>

<h2></h2>
<div class="divBlock">
	<pre><code class="language-html"></code></pre>
	<pre><code class="language-javascript"></code></pre>
</div>

<h2></h2>
<div class="divBlock">
	<pre><code class="language-html"></code></pre>
	<pre><code class="language-javascript"></code></pre>
</div>

<h2></h2>
<div class="divBlock">
	<pre><code class="language-html"></code></pre>
	<pre><code class="language-javascript"></code></pre>
</div>

<h2></h2>
<div class="divBlock">
	<pre><code class="language-html"></code></pre>
	<pre><code class="language-javascript"></code></pre>
</div>

<h2></h2>
<div class="divBlock">
	<pre><code class="language-html"></code></pre>
	<pre><code class="language-javascript"></code></pre>
</div>

<h2></h2>
<div class="divBlock">
	<pre><code class="language-html"></code></pre>
	<pre><code class="language-javascript"></code></pre>
</div>


</div>
<p class="goTop"><a href="#top">TOP</a></p>
</body>

<script type="text/javascript" src="common/js/jquery.js"></script>
<script type="text/javascript" src="common/js/script.js"></script>
<script type="text/javascript" src="common/js/smooth_scrolling.js"></script>

<script src="libs/tinymace/prism.js"></script>

</html>