<html>

<head>
	<title>Angular</title>
	<link href="common/css/reset.css" rel="stylesheet" />
	<link href="common/css/style.css" rel="stylesheet" />
	<link href="common/css/media.css" rel="stylesheet" />
	
	<link rel="stylesheet" href="libs/tinymace/prism.css">
	
	<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
</head>

<body>
<div class="content" id="top">
<!--Write your content here-->
<h1>Angular</h1>

	
<h2>Installation</h2>
<div class="divBlock">
	<p><b>Step 1:</b> install nodejs</p>
	<p><b>Step 2:</b> npm install -g @angular/cli</p>
	<p><b>Step 3:</b> ng new my-app --style=scss --routing</p>
	<p><b>Step 4:</b> cd my-app</p>
	
	<p><b>To run the app: </b> ng serve</p>
	<p><b>To run the app with port: </b>ng serve --port 4205</p>
</div>


<h2>Folder Structuring Tips</h2>
<div class="divBlock">
<pre>
|-- app
   |-- modules
      |-- home
         |-- [+] components
         |-- [+] pages
         |-- home-routing.module.ts
         |-- home.module.ts
      |-- users
         |-- [+] components
         |-- [+] pages
         |-- users-routing.module.ts
         |-- users.module.ts
   |-- core
      |-- [+] authentication
      |-- [+] footer
      |-- [+] guards
      |-- [+] http
      |-- [+] interceptors
      |-- [+] mocks
      |-- [+] services
      |-- [+] header
      |-- core.module.ts
      |-- ensureModuleLoadedOnceGuard.ts
      |-- logger.service.ts
   |-- shared
      |-- [+] components
      |-- [+] directives
      |-- [+] pipes
      |-- [+] models
   |-- [+] configs

|-- assets
   |-- scss
      |-- [+] partials
      |-- _base.scss
      |-- styles.scss
</pre>

</div>

	
	
<h2>Component</h2>
<div class="divBlock">
	<h3>Generate using CLI</h3>
	<xmp class="codeBlock">ng generate component users</xmp>

	<h3>Implementation Component</h3>
	<div class="divBlock">
		<h4>IN TS (users/users.component.ts)</h4>
		<pre><code class="language-javascript">@Component({
	selector: 'app-new-cmp',</code></pre>
	</div>
	<div class="divBlock">
		<h4>IN HTML (any html)</h4>
		<pre><code class="language-html">&lt;app-new-cmp>&lt;/app-new-cmp></code></pre>
	</div>

	<h3>Sample Componenting Modules</h3>
	<div class="divBlock">
		<p>Let's say we have the /includes folder contained generated components using CLI</p>
		<ul>
			<li>/header/  --> selector: 'app-header'</li>
			<li>/sidebar/ --> selector: 'app-sidebar'</li>
			<li>/footer/  --> selector: 'app-footer'</li>
		</ul>
		<div class="divBlock">
			<h4>IN HTML (app.component.html)</h4>
			<pre><code class="language-html">
&lt;div>
	&lt;header>
		&lt;app-header>&lt;/app-header>
	&lt;/header>
	&lt;main>
		&lt;app-sidebar>&lt;/app-sidebar>
		&lt;div id="content">
			&lt;router-outlet>&lt;/router-outlet> /* This is use for routing, always add this */
		&lt;/div>
	&lt;/main>
	&lt;footer>
		&lt;app-footer>&lt;/app-footer>
	&lt;/footer>
&lt;/div>
			</code></pre>
		</div>
	</div>

	<h3>Sample Sidebar with active state</h3>
	<div class="divBlock">

	</div>

</div>


<h2>Modules</h2>
<div class="divBlock">
	<h3>Generate using CLI</h3>
	<xmp class="codeBlock">ng g module student</xmp>
	
	<h3>Generate Components inside Module using CLI</h3>
	<xmp class="codeBlock">ng g c student/student
ng g c student/student-list
ng g c student/student-detail</xmp>

	<h3>Import Module</h3>
	<p>import this student.module.ts file inside the app.module.ts file. <br>So, all of our student components are registered to the angular application.</p>
	<div class="divBlock">
		<h4>IN TS (app.module.ts)</h4>
		<pre><code class="language-javascript">...
import { StudentModule } from './student/student.module';

@NgModule({
	...
	imports: [
		...
		StudentModule
	],
	...
})

		</code></pre>
	</div>
</div>



<h2>Binding Data</h2>
<div class="divBlock">
	<h3>Single Data</h3>
	<div class="divBlock">
		<h4>IN TS</h4>
		<pre><code class="language-javascript">export class NewCmpComponent implements OnInit {
	newcomponent = "Entered in new component created";
	constructor() {}
	ngOnInit() { }
}</code></pre>
	</div>

	<div class="divBlock">
		<h4>IN HTML</h4>
		<pre><code class="language-html">&lt;p>{{newcomponent}}&lt;p></code></pre>
	</div>

	<h3>Array Data</h3>
	<div class="divBlock">
		<h4>IN TS</h4>
		<pre><code class="language-javascript">months = ["January", "Feburary", "March", "April", "May", 
	"June", "July", "August", "September",
	"October", "November", "December"];</code></pre>
	</div>
	<div class="divBlock">
		<h4>IN HTML</h4>
		<pre><code class="language-html">&lt;select>
	&lt;option *ngFor = "let i of months">{{i}}&lt;/option>
&lt;/select></code></pre>
	</div>

	<h3>Conditional</h3>
	<div class="divBlock">
		<h4>IN TS</h4>
		<pre><code class="language-javascript">isavailable = true;</code></pre>
	</div>
	<div class="divBlock">
		<h4>IN HTML</h4>
		<pre><code class="language-html">&lt;span *ngIf = "isavailable">Condition is valid.&lt;/span></code></pre>
	</div>

	<h3>Conditional using NG Template</h3>
	<div class="divBlock">
		<h4>IN HTML</h4>
		<pre><code class="language-html">&lt;span *ngIf = "isavailable; then condition1 else condition2">Condition is valid.&lt;/span>
&lt;ng-template #condition1>Condition is valid&lt;/ng-template>
&lt;ng-template #condition2>Condition is invalid&lt;/ng-template></code></pre>
	</div>
</div>
	

<h2>Click Event</h2>
<div class="divBlock">
	<h3>Onclick Event</h3>
	<div class="divBlock">
		<h4>IN TS</h4>
		<pre><code class="language-javascript">myClickFunction(event) {
	alert("Button is clicked");
	console.log(event);
}</code></pre>
	</div>

	<div class="divBlock">
		<h4>IN HTML</h4>
		<pre><code class="language-html">&lt;button (click)="myClickFunction($event)">
	Click Me
&lt;/button></code></pre>
	</div>

	<h3>Onchange Event</h3>
	<div class="divBlock">
		<h4>IN TS</h4>
		<pre><code class="language-javascript">changemonths(event) {
	console.log("Changed month from the Dropdown");
	console.log(event);
}</code></pre>
	</div>

	<div class="divBlock">
		<h4>IN HTML</h4>
		<pre><code class="language-html">&lt;select (change) = "changemonths($event)"></select></code></pre>
	</div>
</div>


<h2>Routing</h2>
<div class="divBlock">
	<h3>Main Routing</h3>
	<div class="divBlock">
		<h4>IN HTML</h4>
		<pre><code class="language-html">&lt;a routerLink="posts"></select></code></pre>
	</div>
	<div class="divBlock">
		<h4>IN TS (app/app-routing.modules.ts)</h4>
		<pre><code class="language-javascript">...
import { UsersComponent } from './users/users.component';
import { DetailsComponent } from './details/details.component';
import { PostsComponents } from './posts/posts.component';
...
const routes: Routes = [
	{
	path: '',
	component: UsersComponent
	},
	{
	path: 'details/:id',
	component: DetailsComponent
	},
	{
	path: 'posts',
	component: PostsComponents
	},
];</code></pre>
	</div>

	<h3>Sub Routing / Module Routing</h3>
	<div class="divBlock">
		<h4>IN TS (app/student/student-routing.module.ts</h4>
		<div class="divBlock">
			<pre><code class="language-javascript">...
import { StudentComponent } from './student/student.component';
import { StudentListComponent } from './student-list/student-list.component';
import { StudentDetailComponent } from './student-detail/student-detail.component';

const routes: Routes = [
    {
        path: 'student',
        component: StudentComponent,
        children: [
            {
                path: 'list',
                component: StudentListComponent
            },
            {
                path: 'detail',
                component: StudentDetailComponent
            }
        ]
    }
];
			</code></pre>
		</div>
	</div>

	<h3>Redirect</h3>
	<div class="divBlock">
		<h4>IN TS</h4>
		<div class="divBlock">
			<pre><code class="language-javascript">this.router.navigateByUrl('/dashboard');</code></pre>
		</div>
	</div>
</div>


<h2>Services / End point</h2>
<div class="divBlock">
	<h3>Generate using CLI</h3>
	<xmp class="codeBlock">ng generate service data</xmp>

	<h3>Set Module</h3>
	<div class="divBlock">
		<h4>IN TS (app.module.ts)</h4>
		<pre><code class="language-javascript">...
import { HttpClientModule } from '@angular/common/http';

@NgModule({
	...
	imports: [
	   ...
	   HttpClientModule
	],
	...
})
</code></pre>
	</div>


	<h3>Without Parameter</h3>
	<div class="divBlock">
		<h4>IN TS - Request (data.service.ts)</h4>
		<pre><code class="language-javascript">...
import { HttpClient } from '@angular/common/http';

constructor(private http: HttpClient) {}

getUsers() {
    return this.http.get('https://jsonplaceholder.typicode.com/users');
}
</code></pre>
	</div>

	<div class="divBlock">
		<h4>IN TS - Implementation (users.components.ts)</h4>
		<pre><code class="language-javascript">...
import { DataService } from '../data.service';
import { Observable } from 'rxjs';
...
export class UsersComponent implements OnInit {
	
	users$: Object;

	constructor(private data: DataService) { }

	ngOnInit() {
		this.data.getUsers().subscribe(
			data => {
				this.users$ = data;
				console.log(data);
			},
			error => console.log(error)
		)
	}
}
</code></pre>
	</div>

	<div class="divBlock">
		<h4>IN HTML (user.components.html)</h4>
		<pre><code class="language-html">&lt;ul>
	&lt;li *ngFor="let user of users$">
		&lt;a routerLink="/details/{{user.id}}">{{ user.name }}</a>
	&lt;/li>
&lt;/ul></code></pre>
	</div>



	<h3>With Parameter</h3>
	<div class="divBlock">
		<h4>IN TS - Request (data.service.ts)</h4>
		<pre><code class="language-javascript">...
import { HttpClient } from '@angular/common/http';

constructor(private http: HttpClient) {}

getUser(userId) {
    return this.http.get('https://jsonplaceholder.typicode.com/users/' + userId);
}
</code></pre>
	</div>

	<div class="divBlock">
		<h4>IN TS - Implementation (details.components.ts)</h4>
		<pre><code class="language-javascript">...
	import { DataService } from '../data.service';
	import { Observable } from 'rxjs';
	import { ActivatedRoute } from '@angular/router';
	...
	export class DetailsComponent implements OnInit {
		
		user$: Object;
	
		constructor(private data: DataService, private route: ActivatedRoute) { 
			this.route.params.subscribe(params => this.user$ = params.id)        //---> get the url parameters ex. https://jsonplaceholder.typicode.com/users/post/123
		}
	
		ngOnInit() {
			this.data.getUser(this.user$).subscribe(
				data => this.user$ = data
			)
		  }
	}
	</code></pre>
	</div>

	<h3>With Headers</h3>
	<div class="divBlock">
		<h4>IN TS - Request (data.service.ts)</h4>
			<pre><code class="language-javascript">...
getEmployeeList() {
	return this.http.get('https://jsonplaceholder.typicode.com/sample/',{ 
		headers: this.requestHeader()
	});
}
private requestHeader() {
	const headers = new HttpHeaders().set('Authorization', 'D86DC6E60B0632E30F2A78ABE922C238E913DD5C74F76DF6DC935F1EC73A5DF6');
	return headers;
}</code></pre>
	</div>

</div>


<h2>Importing data as TS file</h2>
<div class="divBlock">
	<div class="divBlock">
		<h4>CREATE TS</h4>
		<p>guest-settings.ts</p>
		<pre><code class="language-javascript">export let settings = {
	pager: {
		perPage: 20
	},
	columns: {
		firstName: { title: 'FIRSTNAME', filter: false },
		lastName: { title: 'LASTNAME', filter: false },
		mobilePhone: { title: 'PHONE', filter: false },
		email: { title: 'EMAIL', filter: false },
	},
	noDataMessage: 'No data to display',77
};
		</code></pre>
	</div>
	<div class="divBlock">
		<h4>IMPORT TS</h4>
		<pre><code class="language-javascript">...
import * as tableData from './guest-settings';
...
export class NameComponent implements OnInit {
	settings: any = tableData.settings;
		</code></pre>
	</div>
</div>

<h2>CRUD Sample</h2>
<div class="divBlock">
	<a href="https://www.javaguides.net/2019/02/angular-6-crud-app-example.html" target="_blank">Click Here</a>
</div>


	
	
<p class="goTop"><a href="#top">TOP</a></p>
</body>

<script type="text/javascript" src="common/js/jquery.js"></script>
<script type="text/javascript" src="common/js/script.js"></script>
<script type="text/javascript" src="common/js/smooth_scrolling.js"></script>

<script src="libs/tinymace/prism.js"></script>

</html>