/* ----------------------------------
INFORMATION
------------------------------------*/
.manga-info .manga-details {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
  padding: 10px;
  background-color: #fff;
}
.manga-info .manga-details .details-image {
  width: 225px;
}
.manga-info .manga-details .details-image .img-container {
  width: 225px;
  height: 337px;
  overflow: hidden;
}
.manga-info .manga-details .details-image .img-container img {
  width: 100%;
}
.manga-info .manga-details .details-image .link-bookmark {
  width: 100%;
  margin: 5px 0;
  position: relative;
  font-size: 14px;
  color: #fff;
  text-align: center;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
  border-bottom: 2px solid #26904b;
  cursor: pointer;
  border-radius: 3px;
  background: #f39c12;
  border-bottom: 2px solid #e8930c;
}
.manga-info .manga-details .details-image .link-bookmark.btn-remove {
  background: #f37777;
  border-bottom: 2px solid #ff2d2d;
}
.manga-info .manga-details .details-image .link-chapter {
  width: 100%;
  margin: 5px 0;
  position: relative;
  font-size: 14px;
  color: #fff;
  text-align: center;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
  border-bottom: 2px solid #26904b;
  cursor: pointer;
  border-radius: 3px;
  background: #31a95b;
  border-bottom: 2px solid #26904b;
}
.manga-info .manga-details .details-image a {
  display: block;
  padding: 10px 0;
  color: #fff;
  font-size: 14px;
  text-decoration: none;
}
.manga-info .manga-details .details-image span {
  display: block;
  padding: 10px 0;
  color: #fff;
  font-size: 14px;
  text-decoration: none;
}
.manga-info .manga-details .details-image span.btn-remove {
  border: 1px solid red;
}
.manga-info .manga-details .details-block {
  width: 100%;
  padding: 0px 25px;
}
.manga-info .manga-details .details-block h2 {
  font-size: 26px;
  font-weight: bold;
}
.manga-info .manga-details .details-block p {
  margin-bottom: 10px;
  font-size: 16px;
}
.manga-info .manga-details .details-block dl {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 7px 0;
}
.manga-info .manga-details .details-block dl dt {
  width: 100%;
  max-width: 170px;
  font-size: 16px;
}
.manga-info .manga-details .details-block dl dd {
  width: 100%;
  font-size: 16px;
}
.manga-info .manga-details .details-block dl dd.views {
  color: green;
}
.manga-info .manga-details .details-block dl dd .genre {
  width: 100%;
  max-width: 300px;
  overflow: hidden;
}
.manga-info .manga-details .details-block dl dd .genre li {
  float: left;
}
.manga-info .manga-details .details-block dl dd .genre li a {
  display: block;
  margin-right: 5px;
  margin-bottom: 5px;
  padding: 3px 5px;
  border-radius: 4px;
  background-color: #ff530d;
  color: #fff;
  text-decoration: none;
  font-size: 13px;
}
.manga-info .manga-chapters {
  margin-bottom: 20px;
  background-color: #fff;
}
.manga-info .manga-chapters ul {
  overflow: hidden;
  width: 100%;
}
.manga-info .manga-chapters .chapters-head {
  border-bottom: 1px solid #ae2d2d;
}
.manga-info .manga-chapters .chapters-head li {
  display: flex;
  justify-content: space-between;
  padding: 10px 38px;
  font-size: 14px;
  font-weight: bold;
  color: #ae2d2d;
}
.manga-info .manga-chapters .chapters-list li a {
  display: flex;
  justify-content: space-between;
  padding: 10px 49px;
  text-decoration: none;
  font-size: 14px;
  border-bottom: 1px solid #8888881c;
}
.manga-info .manga-chapters .chapters-list li a:hover {
  background-color: #ebebeb;
}

/* ----------------------------------
PAGE
------------------------------------*/
.manga-page {
  margin-bottom: 20px;
  padding: 15px;
  background-color: #fff;
}
.manga-page .page-options {
  display: flex;
  justify-content: space-between;
}
.manga-page .page-options .chapters {
  width: 30%;
  min-width: 100px;
}
.manga-page .page-options .chapters select {
  width: 100%;
  font-size: 16px;
  border: 1px solid #ccc;
  padding: 3px;
}
.manga-page .page-options .total {
  max-width: 127px;
  padding-left: 5px;
}
.manga-page .page-options .total select {
  width: 100%;
  font-size: 16px;
  border: 1px solid #ccc;
  padding: 3px;
}
.manga-page .page-options .spacer {
  width: 30%;
}
.manga-page .page-options .buttons {
  width: 34%;
  min-width: 350px;
  display: flex;
  justify-content: space-between;
  text-align: right;
}
.manga-page .page-options .buttons .pageof {
  display: flex;
  justify-content: space-between;
}
.manga-page .page-options .buttons .pageof select {
  width: 58px;
  font-size: 16px;
  border: 1px solid #ccc;
  padding: 3px;
}
.manga-page .page-options .buttons .pageof span {
  display: block;
  font-size: 14px;
  padding: 6px 10px;
}
.manga-page .page-options .buttons .btn {
  width: 250px;
}
.manga-page .page-options .buttons .btn button {
  width: 105px;
  margin-left: 5px;
  padding: 5px 10px;
  color: #fff;
  background-color: #c7c7c7;
  border: none;
  font-size: 14px;
  cursor: pointer;
}
.manga-page .page-options .buttons .btn button.btn_prev,
.manga-page .page-options .buttons .btn button.btn_next {
  background-color: #31a95b;
}

.manga-page .image-containers {
  margin: 20px auto;
  padding: 20px 0;
}
.manga-page .image-containers.small-image {
  width: 100%;
  max-width: 900px;
}
.manga-page .image-containers.large-image {
  width: 100%;
}
.manga-page .image-containers img {
  width: 100%;
}
.manga-page .image-containers ul li {
  min-height: 100px;
  background-color: #e8e8e8;
  background-image: url(/assets/images//icon-loading.gif);
  background-repeat: no-repeat;
  background-size: 50px;
  background-position: center;
}
.manga-page .image-containers ul li.advert {
  min-height: unset;
  background-image: unset;
  padding: 24px;
  background-color: #fff;
}

.latest-block-all {
  float: left;
  width: 50%;
  padding: 15px;
  box-sizing: border-box;
  border-bottom: 1px solid #f5f5f5;
}
.latest-block-all:nth-child(2n) {
  border-left: 1px solid #f5f5f5;
}
.latest-block-all:nth-child(17),
.latest-block-all:nth-child(18) {
  border-bottom: none;
}
.latest-block-all .manga-details {
  display: block;
  width: 100%;
  overflow: hidden;
}
.latest-block-all .manga-details .details-image {
  float: left;
  width: 80px;
  min-width: 80px;
  vertical-align: top;
  padding-right: 10px;
}
.latest-block-all .manga-details .details-image .img-container {
  display: block;
  height: 125px;
  background-color: #fff;
  padding: 3px;
  background-size: 100% auto;
  background-repeat: no-repeat;
}
.latest-block-all .manga-details .details-image img {
  width: 0;
  visibility: hidden;
}
.latest-block-all .manga-details .details-block {
  float: left;
  width: 245px;
  padding-left: 8px;
  vertical-align: top;
}
.latest-block-all .manga-details .details-block h2 {
  border-bottom: none;
}
.latest-block-all .manga-details .details-block h2 a {
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
  color: #ae2d2d;
}
.latest-block-all .manga-details .details-block h2 a:hover {
  text-decoration: underline;
}
.latest-block-all .manga-details .details-block dl {
  margin: 4px 2px;
  font-size: 13px;
  overflow: hidden;
}
.latest-block-all .manga-details .details-block dl dt {
  float: left;
  width: 35%;
}
.latest-block-all .manga-details .details-block dl dd {
  float: left;
  width: 65%;
}
.latest-block-all .manga-details .details-block dl dd span {
  display: inline-block;
}
.latest-block-all .manga-details .details-block dl dd span.release {
  padding: 1px 3px !important;
  background-color: #50ad50;
  color: #fff !important;
  border-radius: 5px;
  margin-left: 8px;
  font-size: 11px;
}
.latest-block-all .manga-details .details-block dl dd span:after {
  content: ",";
  padding: 0 2px;
}
.latest-block-all .manga-details .details-block dl dd span:last-child:after {
  display: none;
}

.alphabetical {
  overflow: hidden;
}
.alphabetical .alpha-block {
  box-sizing: border-box;
  margin-bottom: 10px;
}
.alphabetical .alpha-container {
  padding: 10px;
  background-color: #fff;
}
.alphabetical .alpha-container h2 {
  font-size: 20px;
  font-weight: bold;
  border-bottom: 0;
  margin-bottom: 5px;
  color: #ae2d2d;
}
.alphabetical .alpha-container ul {
  padding-left: 10px;
}
.alphabetical .alpha-container ul li {
  font-size: 14px;
}

.category {
  padding: 15px;
  background-color: #fff;
  overflow: hidden;
}


.contact-us {
  padding: 15px;
  background-color: #fff;
}
.contact-us input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

.contact-us input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.contact-us input[type=submit]:hover {
  background-color: #45a049;
}

.contact-us .container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

.contact-us .alert {
  padding: 10px;
  background-color: #f44336;
  color: white;
  margin-bottom: 15px;
}

.contact-us .success {
  padding: 10px;
  background-color: green;
  color: white;
  margin-bottom: 15px;
}

.contact-us .closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.contact-us .closebtn:hover {
  color: black;
}


/* waiting */
.manga-page .page-options-waiting {
  display: flex;
  justify-content: flex-end;
}
.manga-page .page-options-waiting .btn {
  width: 225px;
}
.manga-page .page-options-waiting .btn button {
  width: 105px;
  margin-left: 5px;
  padding: 5px 10px;
  color: #fff;
  background-color: #c7c7c7;
  border: none;
  font-size: 14px;
  cursor: pointer;
}
.manga-page .page-options-waiting .btn button.btn_prev,
.manga-page .page-options-waiting .btn button.btn_next {
  background-color: #31a95b;
}
.waiting-content {
  text-align: center;
}
.waiting-content img {
  width: 100%;
  max-width: 70%;
  margin: auto;
}