body {
	font-family: "Century Gothic";
	font-size: 12px;
	display: table;
	width: 100%;
}

.goTop {
	position: fixed;
	bottom: 10px;
	right: 10px;
}

.goTop a {
	display: block;
	padding: 5px;
	background: #585858;
	color: #fff;
	text-decoration: none;
	border-radius: 3px;
	font-size: 12px;
}

.sidebar {
	display: table-cell;
	width: 220px;
	border-right: 1px solid #0000003d;
	vertical-align: top;
}

.sidebar .btn-sidebar {
	display: none;
}

.sidebar ul.side-items {
	width: 215px;
	height: 93vh;
	padding: 20px;
	overflow-x: auto;
	font-size: 14px;
}

.sidebar ul.side-items li {
	position: relative;
	margin-bottom: 5px;
}

.sidebar ul.side-items li a {
	text-decoration: none;
	color: #2b7bf3;
}

.sidebar ul.side-items li a:active {
	text-decoration: underline;
}

.sidebar ul.side-items li a:hover {
	text-decoration: underline;
}

.sidebar ul.side-items li.primary {
	padding-left: 15px;
}

.sidebar ul.side-items li.primary:before {
	position: absolute;
	left: 0;
	top: 5px;
	width: 6px;
	height: 6px;
	border: 1px solid #0000004f;
	border-radius: 10px;
	content: "";
}

.sidebar ul.side-items li.secondary {
	padding-left: 30px;
}

.sidebar ul.side-items li.secondary:before {
	position: absolute;
	left: 15px;
	top: 5px;
	width: 8px;
	height: 8px;
	border-left: 1px solid #0000004f;
	border-bottom: 1px solid #0000004f;
	content: "";
}

.sidebar ul.side-items li.primary.active a {
	font-weight: bold;
	text-decoration: underline;
}

.sidebar ul.side-items li.secondary.active a {
	text-decoration: underline;
}

.content {
	max-width: 0;
	position: relative;
	display: table-cell;
	padding: 20px 20px 80px;
	background: #00000014;
}

.footer {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	background: #d6d6d6;
	padding: 0.5px 40px;
	text-align: right;
}

.footer p {
	font-size: 11px;
}

.footer a {
	color: #2b7bf3;
	text-decoration: none;
}

dl {
	position: relative;
	margin-bottom: 30px;
	padding: 10px;
	border: 1px solid #0000003d;
	background: #fff;
}

dl dt {
	position: absolute;
	padding: 0 10px;
	color: #5c9dff;
	top: -10px;
	font-size: 15px;
	background: #fff;
}

h1 {
	background: #5c9dff;
	margin: 5px 0 30px;
	padding: 5px;
	font-size: 25px;
	text-align: center;
	color: #fff;
}

h2 {
	margin: 50px 0 10px;
	padding-top: 5px;
	padding-left: 40px;
	background: url(../images/ttl_bg.png) no-repeat 0 0.2em;
	font-size: 30px;
}

h2:first-child {
	margin-top: 0;
}

h3 {
	font-size: 22px;
	font-weight: bold;
	padding-top: 10px;
	margin: 30px 0 10px;
}

h3:before {
	display: inline-block;
	content: '';
	width: 18px;
	height: 18px;
	margin-right: 13px;
	background: #5c9dff;
	border-radius: 25px;
}

h4 {
	font-size: 18px;
	font-weight: bold;
	margin-bottom: 10px;
}

h4:before {
	display: inline-block;
	content: '';
	width: 10px;
	height: 10px;
	margin: 0 18px 0 4px;
	background: #5c9dff;
	border-radius: 25px;
}

p {
	margin: 5px 0;
	line-height: 1.5;
	font-size: 14px;
}

.tCenter {
	text-align: center;
}

.tRight {
	text-align: right;
}

.imgBlock img {
	max-width: 100%;
	padding: 7px;
	border: 1px solid #9a9a9a;
	margin-bottom: 20px;
}

.imgBlock.full img {
	width: 100%;
}

.imgBlock:last-child {
	margin-bottom: 0;
}

.divBlock {
	background: #fff;
	padding: 20px;
	margin-bottom: 20px;
}

.divBlock h3:first-child {
	margin-top: 0;
	padding-top: 0;
}

.codeBlock {
	background: #000;
	padding: 20px;
	margin-bottom: 20px;
	color: #fff;
	font-size: 13px;
	overflow-x: auto;
	white-space: pre;
}

.codeBlock:last-child {
	margin-bottom: 0;
}

.highlight {
	background: yellow;
}

.list {
	line-height: 1.5;
	font-size: 14px;
}
.list li:before {
	content: '• ';
}
.tBold {
	font-weight: bold;
}
.tRed {
	color: red;
}