/* blue */
.bgBlue01 {
    background-color: #3498db;
}
.txtBlue01 {
    color: #3498db;
}
.bgBlue02 {
    background-color: #2980b9 ;
}
.txtBlue02 {
    color: #2980b9 ;
}
/* geen */
.bgGreen01 {
    background-color: #27ae60;
}
.txtBlue01 {
    color: #27ae60;
}
.bgGreen02 {
    background-color: #16a085;
}
.txtBlue02 {
    color: #16a085;
}